$editor-background: #1a1a1a;
$editor-text: lightskyblue;
$editor-preview-height: 94vh;

* {
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 6vh $editor-preview-height;
  grid-template-areas:
    "header header"
    "editor preview";
}

header {
  grid-area: header;
  padding-left: 50px;

  h1 {
    font-size: 1em;
  }
}

#editor {
  grid-area: editor;
  background-color: $editor-background;
  color: $editor-text;
  height: $editor-preview-height;
  padding: 0.5em;
}

#preview {
  grid-area: preview;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 45px;
}
