@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

$editor-background: #1a1a1a;
$editor-text: lightskyblue;
$editor-preview-height: 92vh;
$header-background: #323233;
$header-text: #d1d1d1;

* {
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 8vh $editor-preview-height;
  grid-template-areas:
    "header header"
    "editor preview";
}

header {
  font-family: "Open Sans", sans-serif;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $header-background;
  color: $header-text;
  box-shadow: 10px 10px 5px black;

  h1 {
    font-size: 1.5em;
    padding: 10px;

    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
  }

  .file {
    display: flex;
    align-items: center;

    input[type="text"] {
      display: block;
      height: 2em;
      width: 100px;
      margin: 5px;
      font-size: 1em;
      color: $header-text;
      background-color: $header-background;
      border: none;
      border-bottom: 1px solid $header-text;
    }

    p {
      margin: 0;
    }

    button {
      display: flex;
      align-items: center;
      color: $header-background;
      background-color: $header-text;
      transition: background-color 1s;
      padding: 5px 12px 5px 0;
      margin: 20px;
      border-radius: 3px;
      border: none;
      font-size: 1em;
      font-weight: bold;
      box-shadow: 2px 2px 5px #323233;
    }

    button:hover {
      background-color: #ffffff;
    }
  }

  .credits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
  }

  p {
    margin: 10px;
  }

  a {
    color: inherit;
  }

  svg {
    padding: 2px;
    margin: 0 5px;
  }
}

#editor {
  grid-area: editor;
  background-color: $editor-background;
  color: $editor-text;
  height: $editor-preview-height;
  padding: 0.5em;
  resize: none;
  border: none;
}

#editor:focus {
  outline: 1px $editor-background;
}

#preview {
  grid-area: preview;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 45px;
}
