$editor-background: #1a1a1a;
$editor-text: lightskyblue;
$editor-preview-height: 94vh;
$header-background: #323233;
$header-text: #d1d1d1;

* {
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 6vh $editor-preview-height;
  grid-template-areas:
    "header header"
    "editor preview";
}

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $header-background;
  color: $header-text;

  h1 {
    font-size: 1.5em;
    padding: 10px;

    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
  }

  .credits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;
  }

  svg {
    padding: 2px;
    margin: 0 5px;
  }
}

#editor {
  grid-area: editor;
  background-color: $editor-background;
  color: $editor-text;
  height: $editor-preview-height;
  padding: 0.5em;
  resize: none;
  border: none;
}

#editor:focus {
  outline: 1px $editor-background;
}

#preview {
  grid-area: preview;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 45px;
}
